@import '../node_modules/bootstrap/scss/bootstrap';

.text-muted {
  color: #6c757d !important;
}

.post-text {
  font-weight: bold !important;
  color: rgb(0, 136, 255) !important;
}

.post-text-muted {
  font-weight: normal !important;
  color: #6c757d !important;
}
