@import '../node_modules/bootstrap/scss/bootstrap';

$muted-color: #6c757d !important;
$padding-left: 1.5rem;

.text-muted {
  color: $muted-color;
}

a {
  white-space: nowrap; // Запрещаем перенос строк
  overflow: hidden; // Скрываем текст, который не помещается
  text-overflow: ellipsis; // Добавляем многоточие в конце строки
  padding-right: 20px; // Внутренние отступы (padding)

  &.fw-bold {
    color: blue; // Активный цвет ссылки
  }

  &.fw-normal {
    color: $muted-color; // Цвет для кликнутых ссылок
  }

  &:hover {
    text-decoration: underline;
  }
}

.feeds {
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: $padding-left; // Отступ для заголовка "Фиды"
  }

  .feeds-group {
    list-style: none;
    padding-left: $padding-left; // Отступ для элементов списка, такой же как у заголовка
    margin: 0;
  }

  .feeds-group-item {
    margin-bottom: 1rem; // Опционально: расстояние между элементами списка
  }
}
