@import '../node_modules/bootstrap/scss/bootstrap';

.text-muted {
  color: #6c757d !important;
}

.post-text {
  font-weight: bold !important;
  color: rgb(0, 76, 255) !important;
}

.post-text-muted {
  font-weight: bold !important;
  color: #62676b !important;
}

.feeds-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding-left: 15px;
}

.posts-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  padding-left: 15px;
}

.posts-group-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.posts-group-item a {
  flex-grow: 1;
  margin-right: 15px; // Отступ между текстом и кнопкой *
  white-space: nowrap; // Запрещает перенос текста на новую строку
  overflow: hidden; // Прячет текст, который не помещается
  text-overflow: ellipsis; //Добавляет троеточие в конце обрезанного текста
}
